#all {
    text-align: center;
    justify-content: center;
    align-items: center;
}

#header-box {
    padding: 8px;
    display: grid;
    grid-template-columns: auto 1fr auto;
    align-items: end;
    
}

#meio {
    
    height: 650px;
    margin: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#foot{
   
    
    margin: 2px;

    }

.logo {
    text-align: center;
}


#meio{text-align: center;}

.rounded-button-large{ 
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
}




#buttons-group{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2rem;
    margin-bottom: 1rem;
}



#menu{
    align-self: start;
}

#rodape{
    display: flex;
    justify-content: space-around;
    color: black;
    
}

a{

    text-decoration: none;
    
}



.card{
    box-shadow: 1px 1px 5px;
    background-color: white;
    padding: 30px;
    border-radius: 5px;

}

.form{
    width: 400px;
    margin: auto;
    padding-top: 40px;
}

.card-top{
    text-align: center;
}

.card-group{
    margin-bottom: 10px;
}

.title{
    color: rgb(0, 0, 0);
}

.card-group > label{
    width: 100%;
    color: rgb(0, 0, 0);
    display: block;
}

.card-group > input{
    border-radius: 5px;
    outline: 0;
    width: 100%;
    height: 75px;
    padding: 5px;
}

.card-group > button{
    background-image: linear-gradient(to right, rgb(0, 0, 0), rgb(66, 63, 62));
    width: 100%;
    border-radius: 30px;
    padding: 15px;
    color: white;
    border: 0px;
    outline: 0;
    margin: 5PX;
}

body {

background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;

}
